#sidenav-header {
  padding: 18;
  font-size: 16;
  background: #34c3ff;
  color: #fff;
  white-space: nowrap;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}
